.post {
  max-width: 600px;
  background-color: #fafafa;
  border: 1px solid lightgray;
  margin-top: 45px;
  margin-right: auto;
  margin-left: auto;
}

.post__image {
  width: 100%;
  object-fit: contain;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
}

.post__text {
  font-weight: normal;
  padding: 10px;
}

.post__header {
  display: flex;
  align-items: center;
  padding: 15px;
}

.post__avatar {
  margin-right: 10px;
}
.post__commentForm {
  display: flex;
  margin-top: 10px;
  height: 30px;
}
.post__input {
  border: none;
  border-top: 1px solid lightgray;
  flex: 1;
}
.post__button {
  flex: 0;
  border: none;
  border-top: 1px solid lightgray;
}
.post__comments {
  padding: 10px;
}
